
<div class="badge badge-primary text-wrap" style="width: 16rem;">
  <h1>About me!</h1>
</div>
<br>
<p class="font-italic font-weight-bolder text-monospace"><%= @about_me %></p>

<p class="font-weight-lighter">Đây là website demo_bài kiểm tra giữa học kỳ học phần chuyên đề ngôn ngữ lập trình (ngôn ngữ Ruby) của t.Bài này được yêu cầu thiết kế và chạy theo luồng xử lý yêu cầu của đề bài. Và có 1 yêu cầu là đưa website demo này lên 1 miền miễn phí để hoạt động đây là lý do m có thể dùng đc website này. Website này chạy được trên cả trình duyệt PC và Moblie. Nhờ bài kiểm tra này mà mình được gửi đến 1 công ty để thực tập,ahaha!  </p>
<p class="font-weight-light">Phía dưới câu hỏi của t. Nếu xem nhớ phải trả lời thật lòng đó nhaaaa!!!!</p>

<div class="badge badge-pill text-wrap" style="width: 6rem;height: 1rem;">
	<p class="font-weight-bolder font-italic"> <%= link_to "Question", home_myquestion_path %></p>
</div>

