
<div class="badge badge-primary text-wrap" style="width: 10rem;">
  Pham Van Linh's questions
</div>

<div class="text-nowrap bd-highlight" style="width: 8rem;">
	<p class="text-monospace">Mi nhận đinh t là <code>con người như nào vậy</code>? In future thì I có khả năng <code>bao nhiêu %</code> I can làm <mark>boy friend</mark>of mi?????</p>
</div>
